.dashboard-container {
    display: flex;
    background-size: cover;
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 15px;
    border-bottom-right-radius: 19px;
    width: 92.2%;
  }
.container{
    display: flex;
    justify-content: center;
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    .container{
      height: 100vh;
      background-size: cover;
    }
      .tab-home-container{
        display:flex;
      }
  }

.tab-home-container{
  display:flex;
  width: 50vw;
  background-size: cover;
}
.home-heading{
  font-size: 16px;
}
.top-section {
  display: flex;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #1e1e2d;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 80px;
  margin: 5px;
}
.stat-card2 {
  background-color: #1e1e2d;
  padding-left: 10px;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  margin: 5px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}
.stat-card h2 {
  font-size: 10px;
}

.stat-card p { 
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.stat-card2 h2 {
  margin-bottom: 9px;
  margin-top: 12px;
  font-size: 10px;
}

.stat-card2 p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 11px;
}

.stat-icon {
  font-size: 24px;
}

.stat-change-profit{
  font-size: 9px;
  margin-top: 11px;
  color: rgb(48, 226, 48);
}

.stat-change-loss{
  font-size: 9px;
  margin-top: 11px;
  color: red;
}

.stat{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin: 10px;
  margin-right: 50px;
  margin-top: 20px;
  align-items: center;
}

.progress-circle {
  position: relative;
  width: 60px;
  height: 60px;
}

.progress-svg {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.progress-bg {
  fill: none;
  stroke: #1d1052;
  stroke-width: 4;
}

.progress-bar {
  fill: none;
  stroke: #4e8cff;
  stroke-width: 4;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.progress-text strong {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.progress-text span {
  display: block;
  font-size: 5px;
}

.goal-text{
  font-size: 5px;
  margin-top: 5px;
  width: 100px;
 text-align: center;
}

.activity-chart-container {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  height: 170px;
  width: 59.7%;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.header h2 {
  margin: 0;
  font-size: 15px;
}

.dropdown {
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 8px;
}

.dropdown span{
  font-size: 8px;
}

.dropdown:hover {
  background-color: #070606;
}

.x-axis{
  font-size: 7px;
}

.y-axis{
  font-size: 7px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px;
  width: 240px;
  height: 170px;
  margin-left: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: #383838;
}

.menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #181818;
  font-size: 20px;
  padding: 5px;
}

.menu-item-text {
  font-weight: bold;
  font-size: 10px;
  color: #f0f0f0;
  margin-left: 16px;
  margin-top: 10px;
}

.menu-item-arrow {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  width: 14px;
  height: 14px;
  color: #f0f0f0;
  background-color: #444444;
  border-radius: 25px;
  font-size: 16px;
}
.menu-icon{
  display: flex;
  justify-content: center;
}

.orders-container{
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height:340px;
  width: 495px;
  background-color: #1e1e1e;
  margin-right: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 15px;
}

table {
  width: 100%;
  height: 300px;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #333;
  font-size: 8px;
}



img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.status {
  padding: 5px 10px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 8px;
}

.delivered {
  background-color: #28a745;;
}

.cancelled {
  background-color: #f44336;
}

.pending {
  background-color: #ff9800;
}

.feedback-card {
  background-color: #181818;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height:340px;
  width: 240px;
}



.header1 h2 {
  font-size: 15px;
  font-weight: bold;
}

.feedback-item1 {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}
.select-cursor{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.feedback-cursor{
  border-right: 5px solid #333;
  height: 20px;
  width: 10px;
  padding: 0px;
  margin: 0px;
}
.profile1 {
  display: flex;
}

.profile1 img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile1 p{
  font-size: 8px;
}

.rating {
  margin: 0px;
  padding: 0px;
}

.rating span {
  font-size: 20px;
  color: #ffc107;
}

.review {
  font-size: 7px;
  line-height: 1.5;
}